<body>
<header>
    <div class="blog-header">
        <div class="container">
            <h1 class="blog-title">Error Reporting References</h1>
            <p class="lead blog-description">How to submit useful, effective bug reports.</p>
        </div>
    </div>
</header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">                  

                    <hr>
                    <h2>Section 1: Behavior Descirption</h2>
                    <p>Here you should give as many details as possible and describe the bug scenario and all the circumstances in which the bug occurred.</p>

                    <p>A good description will save the developers a lot of headaches and make it easier to fix your issue quicker. 
                    For example, submitting a bug "I can’t enter data" sounds very serious until you specify that it <em>only</em> 
                    happens due to a particular box not loading, when other options around it are selected. 
                    It's important to give a measure of how severe the bug is and how wide its area of effect is.</p>

                    <p>Mention how often that bug occurs, if it's something that happens every time or just some weird occurrence that only happened once and couldn't be reproduced. 
                    It's important to know if it's a common issue that can easily happen or some kind of oddball exception. 
                    Both are valuable but context and behavior are important.</p>

                    <p>For graphical issues please also specify your screen resolution and remember that an extra display plugged into a laptop may have a different resolution than the native one. 
                    This info can usually be found in your computers display settings regardless of operating system.</p>

                    <h2>Section 2: Severity Ratings</h2>
                    <ul>
                        <li>1: Critical: Previously entered data is lost.</li>
                        <li>2: Major: Prevents work from progressing or prevents data from saving</li>
                        <li>3: Medium: Does not stop progress but requires workaround</li>
                        <li>4: Minor: Strange or unexpected behavior that does not require a workaround</li>
                        <li>5: Cosmetic: No functionality lost, but has cosmetic problems such as misalignment, bad fonts/colors, or truncated text/images</li>
                    </ul>
                    <h2>Section 3: Reproduction Steps</h2>

                    <p>The most useful bug reports are those that have a good description as to how to reproduce the bug in a consistent manner. 
                    Try to reproduce the bug again and determine the exact steps you need to go through in order to make it happen again. 
                    Try to find the simplest method to make your bug happen. This section should outline how you made it happen, broken down into steps, numbered chronologically.</p>

                    <p>Try to make it very clear for anyone reading the report just what exactly they have to do in order to reproduce the bug. 
                    The bug might seem fairly obvious to you, because you've experienced it firsthand, 
                    but if the reproduction steps are complicated try to make the steps as clear and complete as possible so that we can reproduce it ourselves and fix the issue.</p>

                    <h2>Section 4: Additional Information</h2>
                    <p>Also of use when hunting down issues with our software, are things like screenshots and step logs. 
                    In the right hand side section of this page you will find links to various resources on capturing screenshots,
                    along with using Windows Step Recorder for those of you on Windows. 
                    Any screenshots and logs that can be submitted with the report will be greatly appriciated and help speed the process.</p>
                </div><!-- /.blog-post -->
            </div><!-- /.blog-main -->

            <aside class="col-sm-3 ml-sm-auto blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>Resrouces</h4>
                    <p>Below are links that may be useful in gathering information for your reports</p>
                </div>
                <div class="sidebar-module">
                    <h4>Capture Tools</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://support.microsoft.com/en-us/help/22878/windows-10-record-steps">
                            Windows Event Logger</a></li>
                        <li><a href="https://support.microsoft.com/en-us/help/13776/windows-use-snipping-tool-to-capture-screenshots">
                            Windows Screenshot Tools</a></li>
                        <li><a href="https://www.itg.ias.edu/content/keyboard-shortcuts-capture-screen-shot-mac-os-x">
                            macOS Screenshoot Tools</a></li>
                        <li><a href="https://support.mozilla.org/en-US/kb/firefox-screenshots">
                            Firefox Screenshot Tools</a></li>                      
                    </ol>
                </div>                
            </aside><!-- /.blog-sidebar -->
        </div><!-- /.row -->
    </main><!-- /.container -->

</body>
