
@{
    ViewBag.Title = "SubmissionSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <header>
        <div class="blog-header">
            <div class="container">
                <h1 class="blog-title">Report Submitted Successfully!</h1>
                <p class="lead blog-description">Your report will be reviewed as soon as possible.</p>
            </div>
        </div>
    </header>
</body>

